        body {
            background: rgba(0, 0, 0, 0.808);
            height: 100vh;
            line-height: 1.6;
        }
        
        #logo {
            font-family: 'Monoton', cursive;
            font-size: 20px;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.801);
        }
        
        #header a:hover {
            color: rgb(197, 83, 140);
        }
        
        .container {
            opacity: .7;
        }
        
        #intro {
            min-height: 400px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.74), rgb(197, 83, 140), rgb(80, 76, 76));
            padding-top: 40px;
        }
        
        #brand {
            margin-top: 10px;
            font-size: 400%;
            text-shadow: 1px 1px 5px #000;
        }
        
        #title {
            font-size: 200%;
            font-weight: 400;
            text-shadow: 1px 1px 5px #000;
        }
        
        h2 {
            color: rgb(148, 108, 148);
            font-family: Georgia, Times, "Times New Roman", serif;
            font-weight: bold;
            text-shadow: 1px 1px 5px #000;
        }
        
        h4 {
            color: rgb(139, 92, 139);
            font-family: Georgia, Times, "Times New Roman", serif;
            font-weight: bold;
            text-shadow: 1px 1px 5px #fff;
        }
        
        #about {
            margin-top: -65px;
        }
        
        hr {
            border-width: 2px;
            background: rgb(197, 83, 140);
        }
        
        #portfolio .card {
            box-shadow: 2px, solid violet !important;
        }
        
        .card-body .btn:focus {
            box-shadow: none !important;
        }
        
        .card-body .btn:hover {
            background: rgb(197, 83, 140) !important;
        }
        
        .contact .row {
            padding: 30px, 0;
            font-size: 22px;
        }
        
        .contact .col-md-3 .fa {
            padding: 10px;
            font-size: 50px;
            color: #cccccc;
        }
        
        .contact .col-md-3 .fa:hover {
            border-radius: 20px;
            border: 2px solid #fff;
            background: rgb(197, 83, 140) !important;
        }
        
        .contact .col-md-2 .fa {
            padding: 10px;
            font-size: 30px;
            color: #cccccc;
        }
        
        .contact .btn {
            padding: 10px 25px 10px 25px;
            margin: 5px;
            border-radius: 20px;
            border: 2px solid #fff;
        }
        
        .contact .btn:focus {
            box-shadow: none !important;
        }
        
        .contact .btn:hover {
            border: 2px solid #fff !important;
            background: rgb(197, 83, 140) !important;
        }